*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo{
    margin-left: -55px; 
    margin-top: 10px;
}
body{
    font-family: 'Bebas Neue', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -100px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 21px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1500px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    height: 200px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
   margin-top: -140px;
   margin-left: 80px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;  
}
.btn{
    display: inline-block;
    background: #4c00ff;
    color: #ffffff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #cae405;
}

.header{
    background: radial-gradient(#ff0040,#8400ff);
    height: 1100px;
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 80%;
}
.small-container{
    max-width: 1500px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
  
}
.titel{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.titel::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h2{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.col-4:hover{
    transform: translateY(-5px);
}
.offer{
    background: radial-gradient(#fff,#ffd6d5);
    margin-top: 50px;
    padding: 85px 0;
}
.col-2 .offer-img{
    padding: 75px;
}
small{
    color: #555;
}
